current/e1d
*.o
current/main.o
current/main.o
current/MacE1d
current/e1d_rootfiles
current/inputFiles
current/outputFiles
*.out
current/multicore.sh
current/pictures/pic
current/pic
current/h10Test/h10_C.d
current/h10Test/h10_C_ACLiC_dict_rdict.pcm
current/h10Test/3.lis


pictures/pic

current/Classes/inputFiles

current/Classes/outputFiles

current/Classes/MacE1D
current/Classes/e1d

current/Classes/e1d

current/Classes/e1d

*.lis

*.pyc

*.root

skim/Skim

*.root

.DS_Store
*.pyc

skim/data

second_run/outputFiles

second_run/inputFiles

second_run/e1d

first_run/e1d

first_run/inputFiles

first_run/outputFiles

*.pyc

*.pyc

*.pdf

backup/Gagik_Gavalian_thesis.pdf

skim/fit_functions.hpp

*.so

*.pyc

current_python/.ipynb_checkpoints/datahandler-checkpoint.ipynb

current/fit_functions.hpp

*.pcm

*.d

current/cpp/e1d

current/skim/fit_functions.hpp

current/skim/Skim
