*.o
current/inputFiles
current/outputFiles
*.out
*.csv
*.lis
*.pyc
*.root
.DS_Store
*.pdf
skim/fit_functions.hpp
*.so
*.ipynb_checkpoints/
current/fit_functions.hpp
*.pcm
*.d
current/cpp/e1d
current/skim/fit_functions.hpp
current/src/fit_functions.hpp
current/bin/e1d
current/bin/Skim
current/src/fit_functions.hpp
current/bin/golden_run
*.ipynb
*.dblite
*.so.dSYM
*_rflx.cpp
test_header.hpp
current/src/missing_mass_gaussians.hpp
current/bin/outputFiles/

current/bin/csv_maker

current/src/fit_theta_cc.hpp

current/src/fid_fits.hpp
